/*
Padding and border added to at least one element
Margin added to at least one element
At least one centered element (a footer message can be nice for this)
A background image on at least one element
A different font on at least one element
A few elements styled using a class
A different color for visited links
An element styled with an ID
*/


body {
  background-color: #FFF5C3;
  font-family: helvetica;
}

h1 {
  text-align: center;
  border: 2px solid;
}

h2 {
  text-align: center;
  border: 1px solid;
}

#intro {
  

}
.topfive {
  font-family: helvetica;
  margin-left: 20px;
}

.imagePosition {
  margin-left: 50px;
}
